<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengze.usermanagement.mapper.DepartmentMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhengze.usermanagement.dao.DepartmentMessageDao">
        <id column="id" property="id" />
        <result column="departmentid" property="departmentId" />
        <result column="departmentname" property="departmentName" />
        <result column="describle" property="describle" />
        <result column="managerid" property="managerId" />
        <result column="managername" property="managerName" />
        <result column="groupleaderid" property="groupLeaderId"/>
        <result column="groupleadername" property="groupLeaderName"/>
        <result column="createtime" property="createTime" />
        <result column="updatetime" property="updateTime"/>
    </resultMap>
    <insert id="addDepartmentMessage">
        insert into departmentmessage(departmentid,departmentname,describle,managerid,managername,groupleaderid,groupleadername,createtime,updatetime) values (#{departmentId},#{departmentName},#{describle},#{managerId},#{managerName},#{groupLeaderId},#{groupLeaderName},#{createTime},#{updateTime})
    </insert>
    <delete id="deleteDepartmentMessage">
        delete  from departmentmessage where departmentid=#{departmentId}
    </delete>
    <update id="updateDepartmentMessage">
        update departmentmessage set departmentname = #{departmentName},describle=#{describe},
        managerid=#{managerId},managername = #{managerName},groupleaderid=#{groupLeaderId},
        groupleadername=#{groupLeaderName},updatetime = #{updateTime} where departmentid=#{departmentId}
    </update>
    <select id="getDepartmentMessage" resultType="com.zhengze.usermanagement.dao.DepartmentMessageDao">
        select * from departmentmessage
    </select>
    <select id="getDepartmentMessageByDepartmentId" resultType="com.zhengze.usermanagement.dao.DepartmentMessageDao">
        select * from departmentmessage where departmentid=#{departmentId}
</select>
    <select id="getDepartmentMessageByGroupId" resultType="com.zhengze.usermanagement.dao.DepartmentMessageDao">
        select * from  departmentmessage where groupleaderid=#{groupId}
    </select>
</mapper>
