<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengze.roleauthoritymanagement.mapper.AuthorityMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhengze.roleauthoritymanagement.dao.AuthorityMessageDao">
        <id column="id" property="id" />
        <result column="authorityid" property="authorityId" />
        <result column="roleid" property="roleId" />
        <result column="functionid" property="functionId" />
        <result column="createtime" property="createTime" />
        <result column="updatetime" property="updateTime"/>
    </resultMap>

<select id="getAuthoritysByRoleId" resultType="java.lang.String">
    select  functionname from functionmessage ,authoritymessage where functionmessage.functionid=authoritymessage.functionid and authoritymessage.roleid=#{roleId}
</select>
    <delete id="deleteAuthorityByRoleId">
        delete from authoritymessage where roleid=#{roleId}
    </delete>
    <insert id="insertAuthority">
        insert into authoritymessage(authorityid,roleid,functionid,createtime,updatetime) values (#{authorityId},#{roleId},#{functionID},#{createTime},#{updateTime})
    </insert>
</mapper>
