<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengze.roleauthoritymanagement.mapper.RoleMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhengze.roleauthoritymanagement.dao.RoleMessageDao">
        <id column="id" property="id" />
        <result column="roleid" property="roleId" />
        <result column="rolename" property="roleName" />
        <result column="describe" property="describle" />
        <result column="createtime" property="createTime" />
        <result column="updatetime" property="updateTime"/>
    </resultMap>

    <select id="getRoleMessages" resultType="com.zhengze.roleauthoritymanagement.facade.response.RoleMessageResponse">
        select r.roleid as roleId,r.rolename as roleName,r.describle as describle,
        r.createtime as createtime,r.updatetime as updatetime,a.functionid as functionId,
        f.functionname as functionName
        from rolemessage r,functionmessage f,authoritymessage a
        where r.roleid=a.roleid and a.functionid=f.functionid
    </select>

    <select id="getAllRoles" resultType="com.zhengze.roleauthoritymanagement.dao.RoleMessageDao">
        select * from rolemessage
    </select>

    <select id="getRoleIdByRoleName" resultType="java.lang.String">
        select  roleid from rolemessage where rolename=#{roleName}
    </select>

    <delete id="deleteRoleMessage">
        delete  from rolemessage where roleid=#{roleId}
    </delete>

    <insert id="addRoleMessage">
        insert into rolemessage(roleid,rolename,describle,createtime,updatetime)values (#{roleId},#{roleName},#{describle},#{createTime},#{updateTime})
    </insert>

    <update id="updateRoleMessage">
        update rolemessage set rolename=#{roleName},describle=#{describle},updatetime=#{updateTime}
        where roleid =#{roleId}
    </update>
</mapper>
